FB_APP_URL = http://192.168.2.101/login-fb
FB_APP_ID = 123
FB_APP_SECRET = abc

FB_API_OAUTH = https://www.facebook.com/dialog/oauth
FB_API_TOKEN = https://graph.facebook.com/v2.3/oauth/access_token
FB_API_PROFILE = https://graph.facebook.com/me