<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        
        <div>
            <a href="/login-fb">Login</a>
        </div>
        
        {{{body}}}
    </body>
</html>